@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 
body {
	margin: 0;
	padding: 0;
	position: relative; 
  text-align: center; 
	background-color: #1b1e24;
	font-family: 'Open Sans', sans-serif;
  	-webkit-animation: fadeIn .6s ease both;
	animation: fadeIn .6s ease both;
}

img {
  margin: 2% auto;
  text-align: center;
  width: 17em;
}

form {
	position: relative;
	margin: 2em auto;
	max-width: 25em;
}

label {
	display: block;
	margin-bottom: 0.50em;
	color: #fff;
	font-weight: bold;
}

input {
	margin: 0 0 1em 0;
	padding: 1em 5%;
	width: 80%;
	border: 0;  
	border-radius: 0.23em;
	background-color: #fff;
	color: #bbb;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

button {
	overflow: hidden;
	margin-top: 1em;
	padding: 1em 5%;
	width: 100%;
	border: 0;
	border-radius: 0.23em;
	background-color: #c23;
	color: #fff;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

button:hover {
	background-color: #2c3e50;
}
